Import Libraries

In [2]:
import requests
import pandas as pd
from datetime import datetime
import mysql.connector

Fetch Data from API

In [3]:
api_url = "https://fakestoreapi.com/products"

In [4]:
response = requests.get(api_url)

In [5]:
if response.status_code == 200:
    data = response.json()
    print("Data fetched successfully!")
else:
    print("Failed to fetch data:", response.status_code)

Data fetched successfully!

Data Analysing

In [6]:
df = pd.DataFrame(data)

In [7]:
print(df.head())

   id                                              title   price  \
0   1  Fjallraven - Foldsack No. 1 Backpack, Fits 15 ...  109.95
1   2             Mens Casual Premium Slim Fit T-Shirts    22.30
2   3                                 Mens Cotton Jacket   55.99
3   4                               Mens Casual Slim Fit   15.99
4   5  John Hardy Women's Legends Naga Gold & Silver ...  695.00

                                         description        category  \
0  Your perfect pack for everyday use and walks i...  men's clothing
1  Slim-fitting style, contrast raglan long sleev...  men's clothing
2  great outerwear jackets for Spring/Autumn/Wint...  men's clothing
3  The color could be slightly different between ...  men's clothing
4  From our Legends Collection, the Naga was insp...        jewelery

                                               image  \
0  https://fakestoreapi.com/img/81fPKd-2AYL._AC_S...
1  https://fakestoreapi.com/img/71-3HjGNDUL._AC_S...
2  https://fakestoreapi.com/img/71li-ujtlUL._AC_U...
3  https://fakestoreapi.com/img/71YXzeOuslL._AC_U...
4  https://fakestoreapi.com/img/71pWzhdJNwL._AC_U...

                        rating
0  {'rate': 3.9, 'count': 120}
1  {'rate': 4.1, 'count': 259}
2  {'rate': 4.7, 'count': 500}
3  {'rate': 2.1, 'count': 430}
4  {'rate': 4.6, 'count': 400}

In [8]:
print(df.tail())

    id                                              title  price  \
15  16  Lock and Love Women's Removable Hooded Faux Le...  29.95
16  17  Rain Jacket Women Windbreaker Striped Climbing...  39.99
17  18        MBJ Women's Solid Short Sleeve Boat Neck V    9.85
18  19                 Opna Women's Short Sleeve Moisture   7.95
19  20         DANVOUY Womens T Shirt Casual Cotton Short  12.99

                                          description          category  \
15  100% POLYURETHANE(shell) 100% POLYESTER(lining...  women's clothing
16  Lightweight perfet for trip or casual wear---L...  women's clothing
17  95% RAYON 5% SPANDEX, Made in USA or Imported,...  women's clothing
18  100% Polyester, Machine wash, 100% cationic po...  women's clothing
19  95%Cotton,5%Spandex, Features: Casual, Short S...  women's clothing

                                                image  \
15  https://fakestoreapi.com/img/81XH0e8fefL._AC_U...
16  https://fakestoreapi.com/img/71HblAHs5xL._AC_U...
17  https://fakestoreapi.com/img/71z3kpMAYsL._AC_U...
18  https://fakestoreapi.com/img/51eg55uWmdL._AC_U...
19  https://fakestoreapi.com/img/61pHAEJ4NML._AC_U...

                         rating
15  {'rate': 2.9, 'count': 340}
16  {'rate': 3.8, 'count': 679}
17  {'rate': 4.7, 'count': 130}
18  {'rate': 4.5, 'count': 146}
19  {'rate': 3.6, 'count': 145}

In [9]:
print(df.columns)

Index(['id', 'title', 'price', 'description', 'category', 'image', 'rating'], dtype='object')

In [10]:
print(df.info)

<bound method DataFrame.info of     id                                              title   price  \
0    1  Fjallraven - Foldsack No. 1 Backpack, Fits 15 ...  109.95
1    2             Mens Casual Premium Slim Fit T-Shirts    22.30
2    3                                 Mens Cotton Jacket   55.99
3    4                               Mens Casual Slim Fit   15.99
4    5  John Hardy Women's Legends Naga Gold & Silver ...  695.00
5    6                       Solid Gold Petite Micropave   168.00
6    7                         White Gold Plated Princess    9.99
7    8  Pierced Owl Rose Gold Plated Stainless Steel D...   10.99
8    9  WD 2TB Elements Portable External Hard Drive -...   64.00
9   10  SanDisk SSD PLUS 1TB Internal SSD - SATA III 6...  109.00
10  11  Silicon Power 256GB SSD 3D NAND A55 SLC Cache ...  109.00
11  12  WD 4TB Gaming Drive Works with Playstation 4 P...  114.00
12  13  Acer SB220Q bi 21.5 inches Full HD (1920 x 108...  599.00
13  14  Samsung 49-Inch CHG90 144Hz Curved Gaming Moni...  999.99
14  15  BIYLACLESEN Women's 3-in-1 Snowboard Jacket Wi...   56.99
15  16  Lock and Love Women's Removable Hooded Faux Le...   29.95
16  17  Rain Jacket Women Windbreaker Striped Climbing...   39.99
17  18        MBJ Women's Solid Short Sleeve Boat Neck V     9.85
18  19                 Opna Women's Short Sleeve Moisture    7.95
19  20         DANVOUY Womens T Shirt Casual Cotton Short   12.99

                                          description          category  \
0   Your perfect pack for everyday use and walks i...    men's clothing
1   Slim-fitting style, contrast raglan long sleev...    men's clothing
2   great outerwear jackets for Spring/Autumn/Wint...    men's clothing
3   The color could be slightly different between ...    men's clothing
4   From our Legends Collection, the Naga was insp...          jewelery
5   Satisfaction Guaranteed. Return or exchange an...          jewelery
6   Classic Created Wedding Engagement Solitaire D...          jewelery
7   Rose Gold Plated Double Flared Tunnel Plug Ear...          jewelery
8   USB 3.0 and USB 2.0 Compatibility Fast data tr...       electronics
9   Easy upgrade for faster boot up, shutdown, app...       electronics
10  3D NAND flash are applied to deliver high tran...       electronics
11  Expand your PS4 gaming experience, Play anywhe...       electronics
12  21. 5 inches Full HD (1920 x 1080) widescreen ...       electronics
13  49 INCH SUPER ULTRAWIDE 32:9 CURVED GAMING MON...       electronics
14  Note:The Jackets is US standard size, Please c...  women's clothing
15  100% POLYURETHANE(shell) 100% POLYESTER(lining...  women's clothing
16  Lightweight perfet for trip or casual wear---L...  women's clothing
17  95% RAYON 5% SPANDEX, Made in USA or Imported,...  women's clothing
18  100% Polyester, Machine wash, 100% cationic po...  women's clothing
19  95%Cotton,5%Spandex, Features: Casual, Short S...  women's clothing

                                                image  \
0   https://fakestoreapi.com/img/81fPKd-2AYL._AC_S...
1   https://fakestoreapi.com/img/71-3HjGNDUL._AC_S...
2   https://fakestoreapi.com/img/71li-ujtlUL._AC_U...
3   https://fakestoreapi.com/img/71YXzeOuslL._AC_U...
4   https://fakestoreapi.com/img/71pWzhdJNwL._AC_U...
5   https://fakestoreapi.com/img/61sbMiUnoGL._AC_U...
6   https://fakestoreapi.com/img/71YAIFU48IL._AC_U...
7   https://fakestoreapi.com/img/51UDEzMJVpL._AC_U...
8   https://fakestoreapi.com/img/61IBBVJvSDL._AC_S...
9   https://fakestoreapi.com/img/61U7T1koQqL._AC_S...
10  https://fakestoreapi.com/img/71kWymZ+c+L._AC_S...
11  https://fakestoreapi.com/img/61mtL65D4cL._AC_S...
12  https://fakestoreapi.com/img/81QpkIctqPL._AC_S...
13  https://fakestoreapi.com/img/81Zt42ioCgL._AC_S...
14  https://fakestoreapi.com/img/51Y5NI-I5jL._AC_U...
15  https://fakestoreapi.com/img/81XH0e8fefL._AC_U...
16  https://fakestoreapi.com/img/71HblAHs5xL._AC_U...
17  https://fakestoreapi.com/img/71z3kpMAYsL._AC_U...
18  https://fakestoreapi.com/img/51eg55uWmdL._AC_U...
19  https://fakestoreapi.com/img/61pHAEJ4NML._AC_U...

                         rating
0   {'rate': 3.9, 'count': 120}
1   {'rate': 4.1, 'count': 259}
2   {'rate': 4.7, 'count': 500}
3   {'rate': 2.1, 'count': 430}
4   {'rate': 4.6, 'count': 400}
5    {'rate': 3.9, 'count': 70}
6     {'rate': 3, 'count': 400}
7   {'rate': 1.9, 'count': 100}
8   {'rate': 3.3, 'count': 203}
9   {'rate': 2.9, 'count': 470}
10  {'rate': 4.8, 'count': 319}
11  {'rate': 4.8, 'count': 400}
12  {'rate': 2.9, 'count': 250}
13  {'rate': 2.2, 'count': 140}
14  {'rate': 2.6, 'count': 235}
15  {'rate': 2.9, 'count': 340}
16  {'rate': 3.8, 'count': 679}
17  {'rate': 4.7, 'count': 130}
18  {'rate': 4.5, 'count': 146}
19  {'rate': 3.6, 'count': 145}  >

In [11]:
print(df.info())

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 20 entries, 0 to 19
Data columns (total 7 columns):
 #   Column       Non-Null Count  Dtype
---  ------       --------------  -----
 0   id           20 non-null     int64
 1   title        20 non-null     object
 2   price        20 non-null     float64
 3   description  20 non-null     object
 4   category     20 non-null     object
 5   image        20 non-null     object
 6   rating       20 non-null     object
dtypes: float64(1), int64(1), object(5)
memory usage: 1.2+ KB
None

 Data Cleansing

In [12]:
df = df.drop(columns=['image','description'])

In [13]:
df = df.rename(columns={
    "id": "item_id",
    "title": "item_name",
    "category": "category",
    "price": "price",
    "rating": "availability_status"  
})

In [14]:
df['updated_at'] = datetime.now()

In [16]:
df = df[["item_id","item_name", "category", "price", "availability_status", "updated_at"]]

In [17]:
print(df.info())

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 20 entries, 0 to 19
Data columns (total 6 columns):
 #   Column               Non-Null Count  Dtype
---  ------               --------------  -----
 0   item_id              20 non-null     int64
 1   item_name            20 non-null     object
 2   category             20 non-null     object
 3   price                20 non-null     float64
 4   availability_status  20 non-null     object
 5   updated_at           20 non-null     datetime64[us]
dtypes: datetime64[us](1), float64(1), int64(1), object(3)
memory usage: 1.1+ KB
None

In [58]:
df['item_name'] = df['item_name'].astype(str)
df['category'] = df['category'].astype(str)
df['price'] = df['price'].astype(float)
df['availability_status'] = df['availability_status'].astype(str)
df['updated_at'] = pd.to_datetime(df['updated_at'])

Load the data to mysql database table

In [59]:
from sqlalchemy import create_engine
from datetime import datetime

In [60]:
username = 'root' 
password = 'Nipuni1234prabo'
host = 'localhost'
database = 'zara_sales_db'

In [61]:
engine = create_engine("mysql+pymysql://{username}:{password}@{host}/{database}")

In [62]:
engine = create_engine("mysql+pymysql://root:Nipuni1234prabo@localhost/zara_sales_db")

In [65]:
connection = engine.connect()
print("Connection successful!")
connection.close()

Connection successful!

In [66]:
df.to_sql('apparel_details', con=engine, if_exists='append', index=False)

IntegrityError: (pymysql.err.IntegrityError) (1062, "Duplicate entry '1' for key 'apparel_details.PRIMARY'")
[SQL: INSERT INTO apparel_details (item_id, item_name, category, price, availability_status, updated_at) VALUES (%(item_id)s, %(item_name)s, %(category)s, %(price)s, %(availability_status)s, %(updated_at)s)]
[parameters: [{'item_id': 1, 'item_name': 'Fjallraven - Foldsack No. 1 Backpack, Fits 15 Laptops', 'category': "men's clothing", 'price': 109.95, 'availability_status': "{'rate': 3.9, 'count': 120}", 'updated_at': datetime.datetime(2024, 12, 1, 19, 51, 20, 755661)}, {'item_id': 2, 'item_name': 'Mens Casual Premium Slim Fit T-Shirts ', 'category': "men's clothing", 'price': 22.3, 'availability_status': "{'rate': 4.1, 'count': 259}", 'updated_at': datetime.datetime(2024, 12, 1, 19, 51, 20, 755661)}, {'item_id': 3, 'item_name': 'Mens Cotton Jacket', 'category': "men's clothing", 'price': 55.99, 'availability_status': "{'rate': 4.7, 'count': 500}", 'updated_at': datetime.datetime(2024, 12, 1, 19, 51, 20, 755661)}, {'item_id': 4, 'item_name': 'Mens Casual Slim Fit', 'category': "men's clothing", 'price': 15.99, 'availability_status': "{'rate': 2.1, 'count': 430}", 'updated_at': datetime.datetime(2024, 12, 1, 19, 51, 20, 755661)}, {'item_id': 5, 'item_name': "John Hardy Women's Legends Naga Gold & Silver Dragon Station Chain Bracelet", 'category': 'jewelery', 'price': 695.0, 'availability_status': "{'rate': 4.6, 'count': 400}", 'updated_at': datetime.datetime(2024, 12, 1, 19, 51, 20, 755661)}, {'item_id': 6, 'item_name': 'Solid Gold Petite Micropave ', 'category': 'jewelery', 'price': 168.0, 'availability_status': "{'rate': 3.9, 'count': 70}", 'updated_at': datetime.datetime(2024, 12, 1, 19, 51, 20, 755661)}, {'item_id': 7, 'item_name': 'White Gold Plated Princess', 'category': 'jewelery', 'price': 9.99, 'availability_status': "{'rate': 3, 'count': 400}", 'updated_at': datetime.datetime(2024, 12, 1, 19, 51, 20, 755661)}, {'item_id': 8, 'item_name': 'Pierced Owl Rose Gold Plated Stainless Steel Double', 'category': 'jewelery', 'price': 10.99, 'availability_status': "{'rate': 1.9, 'count': 100}", 'updated_at': datetime.datetime(2024, 12, 1, 19, 51, 20, 755661)}  ... displaying 10 of 20 total bound parameter sets ...  {'item_id': 19, 'item_name': "Opna Women's Short Sleeve Moisture", 'category': "women's clothing", 'price': 7.95, 'availability_status': "{'rate': 4.5, 'count': 146}", 'updated_at': datetime.datetime(2024, 12, 1, 19, 51, 20, 755661)}, {'item_id': 20, 'item_name': 'DANVOUY Womens T Shirt Casual Cotton Short', 'category': "women's clothing", 'price': 12.99, 'availability_status': "{'rate': 3.6, 'count': 145}", 'updated_at': datetime.datetime(2024, 12, 1, 19, 51, 20, 755661)}]]
(Background on this error at: https://sqlalche.me/e/20/gkpj)